<%- include("partials/header") %>
    <h1>Archived Items Search</h1>
      <!-- Makes POST request to /return route -->
      <form action="/archived_item_search" method="POST">
        <div class="form-group">
          <label for="search">Barcode or Part of Title</label>
          <input type="search" class="form-control" name="search">
        </div>
        <button type="submit" class="btn btn-light">Search</button>
      </form>

<%- include("partials/footer") %>
