<%- include("partials/header") %>
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 links">
            <a class="link-main" href="/checkout">Checkout</a> <br>
            <a class="link-main" href="/return">Returns</a> <br>
            <a class="link-main" href="/add_item">Add Item</a> <br>
            <a class="link-main" href="/add_user">Add User</a> <br>
          </div>
          <div class="col-lg-6">
            <img class="logo" src="/images/bds_logo.jpg" alt="">
          </div>
        </div>

      </div>
    </section>



  </body>
</html>
