<%- include("partials/header") %>

<h1>Item Management</h1>

<ul>
  <li><h2><a class="link" href="add_item">Add Item</a></h2></li>
  <li><h2><a class="link" href="item_search">Edit Item</a></h2></li>
</ul>

<%- include("partials/footer") %>
